html, body {
  padding: 0;
  margin: 0; }

.header__element {
  font-family: "open Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 49px;
  text-align: center;
  color: #45852D;
  margin-top: 35px; }

.filter {
  margin-top: 45px; }
  .filter .filter__label {
    font-family: "open Sans", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.3px;
    color: #363636;
    margin-left: 50px; }
    .filter .filter__label .filter__entry_field {
      width: 418px;
      height: 50px;
      border: 1px solid #D8D8D8;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      border-radius: 25px;
      margin-left: 56px;
      padding-left: 20px; }

@media all and (max-width: 600px) {
  .filter__entry_field {
    width: 250px; }

  .header__element {
    font-size: 30px; } }
.content {
  margin: 45px 50px 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .content a {
    text-decoration: none;
    color: #363636;
    font-family: "open Sans", sans-serif;
    font-style: normal; }
  .content .content__card {
    width: 379px;
    height: 381px;
    background: #F8F8F8;
    border: 1px solid #D8D8D8;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-right: 22px;
    margin-bottom: 40px; }
    .content .content__card .content__card_img {
      width: 377px;
      height: 227px;
      position: relative; }
      .content .content__card .content__card_img .content__card_img_tag {
        position: absolute;
        height: 30px;
        top: 87%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        font-family: "open Sans", sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 16px;
        text-align: center;
        color: #FFFFFF; }
      .content .content__card .content__card_img .IndependentLiving {
        width: 134px;
        left: 64.5%;
        background: #006F79; }
      .content .content__card .content__card_img .SupportAvailable {
        width: 204px;
        left: 46%;
        background: #EC6608; }
    .content .content__card .content__card_description {
      margin-left: 20px; }
      .content .content__card .content__card_description .content__card_description_title {
        font-weight: bold;
        font-size: 20px;
        line-height: 27px;
        margin-top: 15px;
        margin-bottom: 0; }
      .content .content__card .content__card_description .content__card_description_address {
        font-weight: normal;
        font-size: 16px;
        line-height: 22px;
        margin-top: 2px;
        margin-bottom: 0; }
      .content .content__card .content__card_description .content__card_description_sale {
        font-weight: normal;
        font-size: 16px;
        line-height: 22px;
        margin-top: 15px;
        margin-bottom: 0; }
      .content .content__card .content__card_description .content__card_description_add {
        font-weight: normal;
        font-size: 14px;
        line-height: 19px;
        margin-top: 7px; }

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .button .button__add_content {
    width: 150px;
    height: 50px;
    border: 1px solid #D8D8D8;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 25px;
    background-color: #f8f8f8;
    font-family: "open Sans", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.3px;
    color: #363636; }

/*# sourceMappingURL=style.css.map */